@model PersoneDetailViewModel
<section>

    <div>
        <ul>
            <li>Nome: @Model.nome</li>
            <li>Cognome: @Model.cognome</li>
            <li>Età: @Model.eta</li>
        </ul>
    </div>
    <div><a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@Model.Id"><i class="fa fa-plus"></i>
            Modifica dati</a></div>
    <form method="post" asp-action="Delete" asp-route-id="@Model.Id">

        <div><button class="btn btn-outline-primary btn-sm"><i
                    class="fa fa-plus"></i>
                Elimina Persona</button></div>
    </form>


</section>
<section>
        <a class="btn btn-outline-primary btn-sm" asp-controller= "Auto" asp-action="Create" asp-route-id="@Model.Id"><i class="fa fa-plus"></i> Aggiungi una nuova auto</a>
</section>
<section>
    <h2>Auto(@Model.Auto.Count)</h2>
    @foreach (var auto in Model.Auto)
    {
        <hr>
        <div>
            <div>
                Marca: <a>@auto.marca</a>
            </div>
            <div>
                Modello: <a>@auto.modello</a>
            </div>
            <div>
                Targa: <a>@auto.targa</a>
            </div>
        </div>
    }

</section>