@model PersoneDetailViewModel
<section>

    <div>
        <ul>
            <li>Nome: @Model.nome</li>
            <li>Cognome: @Model.cognome</li>
            <li>Età: @Model.eta</li>
        </ul>
    </div>
    <div><a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@Model.Id"><i class="fa fa-plus"></i> Modifica dati</a></div>
</section>
<section>
    <h2>Auto(@Model.Auto.Count)</h2>
    @foreach (var auto in Model.Auto)
    {
        <hr>
        <div>
            <div>
                <a>@auto.marca</a>
            </div>
            <div>
                <a>@auto.modello</a>
            </div>
            <div>
                <a>@auto.targa</a>
            </div>
        </div>
    }

</section>