@model AutoViewModel

<section>
<input type="hidden" asp-for="personaId">
    <div>
        <ul>
            <li>marca: @Model.marca</li>
            <li>modello: @Model.modello</li>
            <li>targa: @Model.targa</li>
        </ul>
    </div>
    <div><a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@Model.id"><i class="fa fa-plus"></i>
            Modifica dati</a></div>
    <form method="post" asp-action="Delete" asp-route-id="@Model.id">

        <div><button class="btn btn-outline-primary btn-sm"><i class="fa fa-plus"></i>
                Elimina Auto</button></div>
    </form>


</section>